

{% block content %}
   <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product_Id</th>
        <th>Product_Name</th>
        <th>Category</th>

      </tr>
    </thead>
    <tbody>
      {% for product in filter.qs %}
        <tr>
          <td>{{ product.Product_Id }}</td>
          <td>{{ product.Product_Name }}</td>
          <td>{{ product.Category }}</td>


        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}